# This is a comment.
# Each line is a file pattern followed by one or more owners.
# The file pattern can use glob syntax.

# Code owners for the entire repository
*       @gulcin @ayseaktag @aysebilgegunduz
